* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  height: 100%;
  width: 100%;
}
.container {
  padding: 40px 100px;
}
.navbar {
}
.navbar-container {
  float: left;
}
.logo img {
  width: 100px;
}

.list {
  list-style: none;
  position: relative;
  left: 450px;
  top: -40px;
}
.list li {
  float: left;
  padding-right: 40px;
}

.list-item {
  font-family: Orbitron;
  font-weight: 500;
  font-size: large;
  color: rgb(27, 25, 25);
  border-bottom: #0b0c0e;
}
.list:first-child{
  font-weight: bolder;
  font-size: larger;
}

.list :first-child::after {
  content: "";
  height: 2.5px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 25px;
  left: 0%;
}

.button-group {
  display: flex;
  position: relative;
  left: 600px;
  top: -40px;
}
.search-icon {
  position: relative;
  padding: 10px;
  top: -14px;
}

.search-icon svg {
  width: 15px;
}

.nav-button {
  width: 120px;
  padding: 3px 10px;
  border-radius: 7px;
  color: #616161;
  background-color: #fff;
  border: 2px groove #2a2a2a;
}
.banner {
  column-count: 2;
}
.hero-container {
  position: relative;
  top: -300px;
}
.square {
  position: relative;
  top: 570px;
  left: -380px;
  z-index: -1;
}
.square img {
  width: 350px;
}
.person {
  position: relative;
  top: 50px;
}
.person img {
  height: 450px;
  width: 380px;
}
.star {
  position: relative;
  top: 160px;
  left: 360px;
}
.star img {
  width: 40px;
}
.globe {
  position: relative;
  top: 70px;
  left: -80px;
}
.globe img {
  width: 40px;
}

.hero-container {
}
.hero-container-right {
  position: relative;
  width: 60%;
  left: 40%;
  top: -300px;
}

.hero-heading {
  font-size: 45px;
  font-family: Orbitron;
  text-align: center;
}

.hero-description {
  position: relative;
  left: 150px;
  font-size: x-small;
  width: 400px;
  font-family: Poppins;
  text-align: center;
  padding: 40px 0;
  color: #acacac;
}
.button-email {
  position: relative;
  left: 260px;
  padding-inline: 20px;
  border-radius: 7px;
  border: 2px groove #9c9c9c;
  color: #9c9c9c;
  background-color: #fff;
}

.button-join {
  position: relative;
  left: 270px;
  border-radius: 7px;
  background-color: #0b0c0e;
  color: #fff;
  padding-inline: 2px;
  font-family: Orbitron;
}

.contact-heading {
  position: relative;
  top: 98px;
  left: 310px;
  font-family: Poppins;
  font-size: smaller;
  color: #858585;
  font-weight: 500;
}

.icons {
  position: relative;
  top: 100px;
  left: 280px;
}
.icons img {
  width: 23px;
  padding: 5px;
}
